@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.top{
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.top a{
    text-decoration: none;
}
.top-menu{
    display: flex;
}
.logo img{
    width: 200px;
    height: 60px;
    padding-top: 10px;
    margin-left: 20px;
    object-fit: contain;
}
.search-user-buy{
    display: flex;
    padding-left: 60px;
}
.search{
    margin-left: 40px;
    width: 400px;
}
#form-search{
    display: flex;
    width: 100px;
    height: 30px;
    margin-top: 15px;
}


#input-tksp{
    padding-right: 300px;
    padding-left: 10px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #f0f0f0;
}
#input-search{
    position: relative;
    right: 40px;
    top: 5px;
    border-radius: 50px;

}
#input-search img:hover{
    width: 32px;
    height: 32px;
    transition: 0.5s;
    margin-right: 2px;
    margin-bottom: 1px;
    cursor: pointer;
    }
#form-search img{
    width: 30px;
    height: 30px;
}


.user{
    width: 200px;
    height: 30px;
    text-align: right;
    font-weight: bold;
    margin-left: 150px;
    padding-top: 10px;
}
.user a, .user p{
    color: black;
    text-decoration: none;
}



.logout a{
    margin-right: 20px;
    margin-bottom: 5px;
}
.dndk:hover {
    color: red;
}

.img-user img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.icon-user{
    position: relative;
}
.icon-user:hover .down-user{
    display: block;
}
.down-user{
    position: absolute;
    width: 150px;
    height: 40px;
    display: none;
    margin-left: 100px;
    background: #f8f8f8;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.login{
    margin-right: -26px;
}
.img-logout{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;
}
.buy{
    width: 150px;
    height: 40px;
    padding-top: 10px;
    margin-left: 60px;
    color: black;
    font-weight: bold;
}
.buy img{
    width: 30px;
    height: 30px;
    margin-left: 28px;
}
.buy-text{
    padding-left: 5px;
}
.buy:hover{
    color: red;
}
.main_menu{
    display: flex;
    justify-content: center;
    list-style: none;
}
.main_menu li a{
    color: black;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}
.main-menu li a:hover{
    color: red;
}